<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Pratik Haridas Khodwe</title>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="static\css\animations.css">
</head>

<body>

    <header>
        <nav>
            <h1>Pratik Haridas Khodwe</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <br>
    <br>
    <br>
    <br>

    <section class="projects">
        <h2 class="section-title">🚀 My Projects</h2>

        <div class="project-grid">
            <div class="project-card">
                <img src="static\images\plant disease prediction.png"  alt="AI Project">
                <h3>AI-based Plant Disease Detection</h3>
                <p>Using AI to detect diseases in plants with high accuracy.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="project-card">
                <img src="static\images\QML.png" alt="Quantum ML">
                <h3>Quantum Machine Learning in Drug Discovery</h3>
                <p>Integrating quantum computing with AI for faster research.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="project-card">
                <img src="static\images\pandit.png" alt="Web Project">
                <h3>Online Pandit Ji Web App</h3>
                <p>A platform to book priests for rituals and ceremonies.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <script src="static\js\animation.js"></script>

</body>

</html>